<p>
  Gestor de Procesos
</p>


<button      
      class="btn btn-default btn-success">
      Inicio
</button>

<h4>El Proceso Actual es: {{ procesoActual }}</h4>
<h4>El Estado del Proceso esta: {{ procesoEstado }}</h4>
<h4>El Estado Inicial es: {{ procesoInicio }}</h4>
<h4>El Estado Final es: {{ procesoResultado }}</h4>
<hr>

<table class="table table-bordered" style="max-width: 1000px;" style="text-align: center" >
  <thead>
    <tr >
      <th scope="col">ID</th>
      <th scope="col">Procesos Pendientes</th>         
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proceso of procesos">      
      <td>{{ proceso.id  }}</td>
      <td>{{ proceso.name  }}</td>
    </tr>        
  </tbody>
</table>