<p>Gestor de Procesos</p>

<button class="btn btn-default btn-success" (click)="Validaciones()" >
      Inicio
</button>

<h4>Proceso Id es: <output #proId >0</output></h4>
<h4>Proceso Actual es: <output #proActual >0</output></h4>
<h4>Estado Inicial es:  <output #proInicial >0</output> </h4>
<h4>Estado Final es: <output #proFinal >0</output> </h4> 

<hr>

<hr>
<table class="table table-bordered" style="max-width: 1000px;" style="text-align: center" >
  <thead>
    <tr >
      <th scope="col">ID</th>
      <th scope="col">Lista Procesos</th>         
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proceso of procesos">      
      <td>{{ proceso.id  }}</td>
      <td>{{ proceso.name  }}</td>
    </tr>        
  </tbody>
</table>

